<html>
<!--GAME SELECT DIV-->
<div class="container" *ngIf='!chosenGame.length'>
        <h2><label for="">Game Select</label></h2>
        <button class='btn btn-primary'
(click)='setGameType1()'>  X01  </button>

        <button class='btn btn-primary'
(click)='setGameType2()'>  Cricket  </button>

        <button class='btn btn-primary'
(click)='setGameType3()'>  Around the Clock  </button>
</div><!--END OF GAME SELECT DIV-->


<div class="container">
<!--NAME OF GAME THAT APPEARS ONLY WHEN GAME IS CHOSEN-->
        <h2><label for="">{{chosenGame}}</label></h2>

<!--X01 Game Interface-->
<div class="container" *ngIf='chosenGame[0]==="X01"'>

<app-x01>Loading X01</app-x01>

</div>

<!--Cricket Game Interface-->
<div class="container" *ngIf='chosenGame[0]==="Cricket"'>

<app-cricket>Loading Cricket</app-cricket>

</div>

<!--Around the Clock Game Interface-->
<div class="container" *ngIf='chosenGame[0]==="Around the Clock"'>

<app-around-the-clock>Loading Around The Clock</app-around-the-clock>

</div>



<!--THROW VALUE INPUT ROW-->

<div class="row">
<div class="col-md-4">
        <input class="form-control" type="text" value="" placeholder="throw 1">
</div>
<div class="col-md-4">
        <input class="form-control" type="text" value="" placeholder="throw 2">
</div>
<div class="col-md-4">
        <input class="form-control" type="text" value="" placeholder="throw 3">
</div>
</div><!--END OF THROW VALUE INPUT ROW-->
        <button type="button" class="btn btn-primary btn-block">End Turn</button>
        <button (click)='resetGame()'type="button" class="btn btn-danger btn-block">End Game</button>
</div>

</html>