<!--GAME SELECT DIV-->
<div *ngIf='!chosenGame.length'>
  <h2><label>Game Select</label></h2>
  <!--button 1-->
  <div class="container col-md-4">
    <a class="btn btn-primary btn-block"
       [routerLink]="['/X01']"
       (click)='setGameType1()'>
      X01
    </a>
  </div>

  <!--button 2-->
  <div class="container col-md-4">
    <a class="btn btn-primary btn-block"
       [routerLink]="['/Cricket']"
       (click)='setGameType1()'>
      Cricket
    </a>
  </div>

  <!--button 3-->
  <div class="container col-md-4">
    <a class="btn btn-primary btn-block"
       [routerLink]="['/AroundTheClock']"
       (click)='setGameType1()'>
      Around The Clock
    </a>
  </div>

<!--END OF GAME SELECT DIV-->


<div>
  <!--NAME OF GAME THAT APPEARS ONLY WHEN GAME IS CHOSEN-->
  <div>
    <h2><label>{{chosenGame}}</label></h2>
  </div>
</div>
