<html>
<div class="container" *ngIf='!chosenGame.length'>
        <h3><label for="">Game Select</label></h3>
        <button class='btn btn-primary'
(click)='setGameType1()'>  X01  </button>

        <button class='btn btn-primary'
(click)='setGameType2()'>  Cricket  </button>

        <button class='btn btn-primary'
(click)='setGameType3()'>  Around the Clock  </button>
</div>


<div class="container">
        <h2><label for="">{{chosenGame}}</label></h2>
        <table>
                <tr>
                        <th><input type="text" value="" placeholder="throw 1"></th>
                        <th><input type="text" value="" placeholder="throw 2"></th>
                        <th><input type="text" value="" placeholder="throw 3"></th>
                </tr>
                <tr>
                        <td colspan="3" align="right"><button type="button" class="btn btn-primary btn-block">End Turn</button></td>
                </tr>
                        <td colspan="3" align="right"><button (click)='resetGame()'type="button" class="btn btn-danger btn-block">End Game</button></td>
        </table>
</div>

</html>