<!--GAME SELECT DIV-->
<div class="container">
  <h2><label>Game Select</label></h2>
  <!--button 1-->
  <div class="container col-md-4">
    <a class="btn btn-primary btn-block"
       [routerLink]="['/X01']">
      X01
    </a>
  </div>

  <!--button 2-->
  <div class="container col-md-4">
    <a class="btn btn-primary btn-block"
       [routerLink]="['/Cricket']">
      Cricket
    </a>
  </div>

  <!--button 3-->
  <div class="container col-md-4">
    <a class="btn btn-primary btn-block"
       [routerLink]="['/AroundTheClock']">
      Around The Clock
    </a>
  </div>
  <!--END OF GAME SELECT DIV-->
