<!--GAME SELECT DIV-->
<div class="container">
  <h2><label>Game Select</label></h2>
  <!--button 1-->
  <div class="container col-md-4 col-sm-12">
    <a class="btn btn-default btn-block"
       (click)="gameSelected = 'x01'">
      X01
    </a>
  </div>

  <!--button 2-->
  <div class="container col-md-4 col-sm-12 ">
    <a class="btn btn-default btn-block"
       (click)="gameSelected = 'cricket'">
      Cricket
    </a>
  </div>

  <!--button 3-->
  <div class="container col-md-4 col-sm-12">
    <a class="btn btn-default btn-block"
       (click)="gameSelected = 'aroundTheClock'">
      Around The Clock
    </a>
  </div>
  <!--END OF GAME SELECT DIV-->


  <!--GAME INITIALIZATION DIV-->
  <div *ngIf="gameSelected === 'x01'">
    <div class="container col-md-12">
      <h2>
       X01 Initialization
      </h2>
    </div>

    <div class="col-md-6 text-center">
      <label for="player1Name">
        Player One:
      </label>
      <input
        type="text" id="player1Name"placeholder="Name" class="form-control">
    </div>

    <div class="col-md-6 text-center">
      <label for="player2Name">
        Player Two:
      </label>
      <input
        type="text" id="player2Name"placeholder="Name" class="form-control">
    </div>

    <div class="col-md-12 top-buffer">
      <a class="btn btn-primary btn-block"
         [routerLink]="['/X01']">
        Begin Game
      </a>
    </div>
  </div>

  <div class="container col-md-12"
       *ngIf="gameSelected === 'cricket'">
    <h2>
      Cricket Initialization
    </h2>
    <a class="btn btn-primary btn-block"
       [routerLink]="['/Cricket']">
      Begin Game
    </a>
  </div>

  <div class="container col-md-12"
       *ngIf="gameSelected === 'aroundTheClock'">
    <h2>
      Around The Clock Initialization
    </h2>
    <a class="btn btn-primary btn-block"
       [routerLink]="['/AroundTheClock']">
      Begin Game
    </a>
  </div>
